* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header__cv-photo {
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
}

.sertificate-img {
    max-width: 150px;
max-height: 300px;
}